.newStory {

  textarea {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    border: none;
    outline: none;
  }

  .newStory-form--title {
    font-size: 42px;
  }

  .newStory-form--body {
    font-size: 21px;
  }

}
