/* 
  small device such as phones
  sm = small = 576px

  medium devices such as tablets
  md = medium = 768px

  large devices such as desktops
  lg = large = 992px

  extra large devices such as large desktops
  xl = extra large = 1200px 
*/

.hero-card--large {
  margin-top: 25px;
  margin-bottom: 25px;
  max-width: 350px;

  @media screen and (min-width: 992px) {
    margin: 0;
    max-width: 1000px;
  }

  .hero-meta {
    color: #000;

    h1 {
      color: #000;
      font-size: 2em;
    }

    button {
      font-size: 1em;
      text-align: left;
    }

  }
}



/*
.hero-largeCard {
  display: flex;
  height: 100%;
  width: 100%;
  margin-right: 24px;
  margin-bottom: 50px;
  flex: 0 1 auto;
  position: relative;
}

.hero-post {
  width: 100%;
  height: 100%;
  position: relative;
  color: black;

  .hero-image {
    height: 150px;
    margin-bottom: 16px;
  }

  .hero-postContent {
    margin-left: 88px;
  }

  h1, a, button {
    color: inherit;
  }
  
  h1 {
    font-size: 24px;
  }

  button {
    overflow: hidden;
    max-height: 60px;
    text-overflow: ellipsis;
    font-weight: 400;
    font-size: 16px;
  }

}
*/