/* 
  small device such as phones
  sm = small = 576px

  medium devices such as tablets
  md = medium = 768px

  large devices such as desktops
  lg = large = 992px

  extra large devices such as large desktops
  xl = extra large = 1200px 
*/

.nav-item {
  display: flex;
  align-items: center;
  padding: 15px 10px;
}

.icon {
  color: grey;
}

button.link {
  border: none;
  background-color: white;
  outline: none;
}

.nav-brand {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2em;

  a {
    color: black;
    text-decoration: none;
  }
}

.dropdown-menu {
  left: -200px;
  width: 300px;
  margin-top: 10px;

  @media screen and (min-width: 992px) {
    left: -180px;
  }

  @media screen and (min-width: 1400px) {
    left: -100px;
  }

}

.dropdown-item a {
  color: grey;
  text-decoration: none;
  user-select: none;
  :active {
    background-color: white;
  }
}

.dropdown-item a strong {
  color: black;
}

.green {
  color: green;
}

.upgrade-button {
  border: 1px solid grey;
  border-radius: 0.4em;
}